node_modules/
.cache/
public
.DS_STORE
*.icloud

# Statically built data
src/data/searchData.json
src/data/wp/lookups.json
src/data/wp/Author/*.json
src/data/wp/Posts/*.json
src/data/wp/Projects/*.json

# Cypress Data
cypress/videos
cypress/screenshots

# Environment variables
.env
